.bt {
    border:none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    letter-spacing: .25;
    text-decoration: none;
    color: black;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }

    &--light {
      color: white;
    }

    &-dark {
      color: #2C3333;
    }
}