%h1 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
}


%h2 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
}


%h3 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
}


%h4 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
}


%h5 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
}


%body-copy {
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   color: #2C3333;
}


$font-poppins: Poppins;
$font-inter: Inter;
$primary-color: #00A779;
$secondary-color: #01704F;
$dark-color: #2C3333;
$success-color: #2FC463;
$warning-color: #E9B22B;
$danger-color: #EA4C99;
$info-color: #A75CF4;