%h1 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
}


%h2 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
}


%h3 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
}


%h4 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
}


%h5 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
}


%body-copy {
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   color: #2C3333;
}


